{% comment %} {% load static %}
<img class="crop" src="{% static 'img/hero1.png'%}" draggable="false">

<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer" style="border-top: solid; border-top-color: #002BA3;">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/icon/logobaru.png'%}" >
                </a>
                {% comment %} <img src="{% static 'img/icon/logobaru.png'%}" alt=""> {% endcomment %}
            {% comment %} </div>
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Tentang Modul Lidi</h3>
                <p>Modul Lidi membantu penenun menghasilkan berbagai motif yang bervariasi hanya dengan menggunakan sedikit Lidi. Motif yang dihasilkan telah teruji mampu menciptakan hingga ratusan motif hanya dengan mengandalkan 8 jenis Lidi saja. Selain itu, motif ini dapat dengan pasti diterapkan pada kain tenun ulos.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Links</h3>
                <ul class="tm-footer-links" style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;"><a class="nav-link nav-link-1" href="{% url 'home' %}">Beranda</a></li>
                    <li style="margin-bottom: 10px;"><a class="nav-link nav-link-2" href="{% url 'generator' %}">Generator</a></li>
                    <li style="margin-bottom: 10px;"><a class="nav-link nav-link-3" href="{% url 'list1' %}">Motif</a></li>
                    <li style="margin-bottom: 10px;"><a class="nav-link nav-link-4" href="{% url 'help' %}">Bantuan</a></li>
                    <li style="margin-bottom: 10px;">
                        <a class="nav-link nav-link-4" href="http://ulospedia.ditenun.com/">Ulospedia</a>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <a class="nav-link nav-link-4" href="http://webapp.ditenun.com/">WebApp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> {% endcomment %}

{% load static %}
<img class="crop" src="{% static 'img/hero1.png' %}" draggable="false">

<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer" style="border-top: solid; border-top-color: #002BA3;">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/icon/logobaru.png' %}" >
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Tentang Modul Lidi</h3>
                <p>Modul Lidi, bagian dari platform DiTenun, membantu penenun menghasilkan ratusan motif beragam hanya dengan menggunakan 8 jenis lidi. Motif-motif ini telah teruji dan dapat diterapkan secara akurat pada kain tenun ulos, memudahkan penenun menciptakan desain yang kaya dan bervariasi.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Links</h3>
                <div class="row">
                    <div class="col-6 col-lg-12">
                        <ul class="tm-footer-links" style="list-style-type: none; padding-left: 0;">
                            <li style="margin-bottom: 10px;"><a class="nav-link nav-link-1" href="{% url 'home' %}">Beranda</a></li>
                            <li style="margin-bottom: 10px;"><a class="nav-link nav-link-2" href="{% url 'generator' %}">Generator</a></li>
                            <li style="margin-bottom: 10px;"><a class="nav-link nav-link-3" href="{% url 'list1' %}">Motif</a></li>
                            <li style="margin-bottom: 10px;"><a class="nav-link nav-link-4" href="{% url 'help' %}">Bantuan</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-12">
                        <ul class="tm-footer-links" style="list-style-type: none; padding-left: 0;">
                            <li style="margin-bottom: 10px;">
                                <a class="nav-link nav-link-4" href="http://ulospedia.ditenun.com/">Ulospedia</a>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <a class="nav-link nav-link-4" href="http://webapp.ditenun.com/">WebApp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
