<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'templatemo-style.css'%}">
    <title>Modul Lidi</title>
    <link rel="icon" href="{% static 'img/icon/NewTitle.ico'%}" type="image/x-icon">
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    {% include "header.html" %}

    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Tentang aplikasi website
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3" style="display: flex;">
                <img src="{% static 'img/icon/NewLogo.png'%}" alt="Image" class="img-fluid" style="margin-top: auto; margin-bottom: auto;">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4" style="color: black;">
                        Aplikasi ini dapat digunakan oleh masyarakat umum, terutama mereka yang berprofesi sebagai penenun di <a href="https://www.google.co.id/maps/place/Danau+Toba/@2.6114159,98.5557627,10z/data=!3m1!4b1!4m5!3m4!1s0x3031de07a843b6ad:0xc018edffa69c0d05!8m2!3d2.7860786!4d98.6160674" target="_parent" rel="sponsored">Kawasan Toba Samosir</a>. Aplikasi ini memungkinkan pembuatan motif secara otomatis, yang mencakup penyusunan urutan lidi motif yang digunakan sesuai dengan cara kerja penenun menggunakan lidi sebagai pembentuk motif Tenun. </p>
                    <p style="color: black;">
                        Beberapa fitur yang ada didalam aplikasi ini yang dapat digunakan diantaranya :</p> 
                    <p style="color: black;">
                    <ol>
                        <li style="color: black;">Pembuatan motif secara <b>otomatis</b> yang menghasilkan motif beserta <b>urutan lidi</b> motif yang digunakan</li>
                        <li style="color: black;">Pencarian motif berdasarkan Tanggal, Nama Pembuat, atau berdasarkan jumlah baris motif</li>
                        {% comment %} <li style="color: black;"> Men-<i>Download</i> motif</li> {% endcomment %}
                        <li style="color: black;">Kemampuan untuk mengunduh motif.</li>
                    </ol>
                    
                </div>                
            </div>
        </div>
        <div class="row tm-mb-50">
            <!-- <div class="col-md-3 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Cara penggunaan fitur generate motif
                    </h2>
                    <p class="mb-4" style="color: black;">
                        Halaman ini akan menjelaskan tentang cara menggunakan fitur yang tersedia dalam aplikasi, mulai dari tahap awal input yang digunakan hingga hasil akhir motif yang dihasilkan.                    </p>
                    <div class="tm-button-left">
                        <a href="{% url 'help-generator' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>                
            </div>  -->
            <div class="col-md-3 col-12">
                <div class="tm-about-2-col" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div>
                        <h2 class="tm-text-primary mb-4">
                            Cara penggunaan fitur generate motif
                        </h2>
                        <p class="mb-4" style="color: black;">
                            Halaman ini akan menjelaskan tentang cara menggunakan fitur yang tersedia dalam aplikasi, mulai dari tahap awal input yang digunakan hingga hasil akhir motif yang dihasilkan.  
                        </p>
                    </div>
                    <div class="tm-button-left" style="margin-top: auto;">
                        <a href="{% url 'help-generator' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Gambar Lidi yang Didukung oleh Sistem
                    </h2>
                    <p class="mb-4" style="color: black;">
                        Halaman ini akan menjelaskan tentang karakteristik gambar lidi yang dapat diterima oleh sistem, termasuk kode warna yang diizinkan, ukuran gambar, dan batasan-batasan lainnya. 
                    </p>
                    <div class="tm-button-left">
                        <a href="{% url 'help-lidi' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>                
            </div> -->
            <div class="col-md-3 col-12">
                <div class="tm-about-2-col" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div>
                        <h2 class="tm-text-primary mb-4">
                            Gambar Lidi yang Didukung oleh Sistem
                        </h2>
                        <p class="mb-4" style="color: black;">
                            Halaman ini akan menjelaskan tentang karakteristik gambar lidi yang dapat diterima oleh sistem, termasuk kode warna yang diizinkan, ukuran gambar, dan batasan-batasan lainnya. 
                        </p>
                    </div>
                    <div class="tm-button-left" style="margin-top: auto;">
                        <a href="{% url 'help-lidi' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Fitur Pencarian
                    </h2>
                    <p class="mb-4" style="color: black;">
                        Halaman ini akan menjelaskan cara mencari motif dalam aplikasi berdasarkan beberapa kriteria yang dapat mempermudah pencarian.  
                    </p>
                    <div class="tm-button-left">
                        <a href="{% url 'help-search' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>                
            </div>  -->
            <div class="col-md-3 col-12">
                <div class="tm-about-2-col" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div>
                        <h2 class="tm-text-primary mb-4">
                            Fitur Pencarian
                        </h2>
                        <p class="mb-4" style="color: black;">
                            Halaman ini akan menjelaskan cara mencari motif dalam aplikasi berdasarkan beberapa kriteria yang dapat mempermudah pencarian. 
                        </p>
                    </div>
                    <div class="tm-button-left" style="margin-top: auto;">
                        <a href="{% url 'help-search' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Fitur Unduh
                    </h2>
                    <p class="mb-4" style="color: black;">
                        Halaman ini akan menjelaskan cara menggunakan fitur unduh motif dalam aplikasi untuk disimpan di penyimpanan lokal komputer.
                    </p>
                    <div class="tm-button-left">
                        <a href="{% url 'help-download' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>                
            </div>  -->
            <div class="col-md-3 col-12">
                <div class="tm-about-2-col" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div>
                        <h2 class="tm-text-primary mb-4">
                            Fitur Unduh
                        </h2>
                        <p class="mb-4" style="color: black;">
                            Halaman ini akan menjelaskan cara menggunakan fitur unduh motif dalam aplikasi untuk disimpan di penyimpanan lokal komputer.
                        </p>
                    </div>
                    <div class="tm-button-left" style="margin-top: auto;">
                        <a href="{% url 'help-download' %}" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>
            </div>
            
        </div> <!-- row -->
    </div>
    {% include "footer.html" %}

    <script src="{% static 'plugins.js'%}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>