<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'templatemo-style.css'%}">
    <title>Modul Lidi</title>
    <link rel="icon" href="{% static 'img/icon/NewTitle.ico'%}" type="image/x-icon">
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    {% include "header.html" %}

    {% if status %}
        {% for msg in messages %}
            <div class="info">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{msg}}
            </div>
        {% endfor %}
        <div class="tm-hero d-flex justify-content-center align-items-center">
            <img class="imageBehind" src="{% static 'img/icon/Search.png'%}" draggable="false">
            <form action="search" method="post" enctype="multipart/form-data" class="d-flex tm-search-form">
                {% csrf_token %}
                <select id="filter" name="filter" style="border-width: 0px; margin-right: 10px; height: 48px; color: #002BA3; z-index: 2;">
                    <option name="filter" value="{{typeFilter1}}">{{typeFilter1}} </option>
                    <option name="filter" value="{{typeFilter2}}">{{typeFilter2}} </option>
                    <option name="filter" value="{{typeFilter3}}">{{typeFilter3}} </option>
                </select>
                <input value="{{valueFilter}}"name="SearchMotif" class="form-control tm-search-input" type="text" placeholder="Cari..." aria-label="Search">
                <button class="btn btn-outline-primary tm-search-btn" value=""type="submit">
                    <img src="{% static 'img/icon/search-interface-symbol.png'%}" style="height:80%;">
                </button>
                <a class="btn btn-outline-danger tm-search-btnRed" href="{% url 'list1' %}">
                    <img src="{% static 'img/icon/icons8-close-30.png'%}" style="height:90%;">
                </a>
            </form>
        </div>

        {% if motifForm %}
            <div class="row tm-mb-90 tm-gallery" style=" margin-left: 20px; margin-right: 20px; align-items: flex-end; margin-top: 50px;">
                {% for entries in motifForm %}
                    <div class="col-xl-3 col-xl-4 col-md-6 col-sm-6 col-12 mb-5">
                        <figure class="effect-ming tm-video-item">
                            <img src="{{ entries.imgAfter }}" class="img-fluid imageScale" draggable="false">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2><b>Lihat Detail</b></h2>
                                    <a href="{% url 'list' entries.id %}" draggable="false"><img src="{{ entries.imgAfter }}" draggable="false">View more</a>   
                            </figcaption>                    
                        </figure>
                        <div class="d-flex justify-content-between tm-text-gray">
                            <span class="tm-text-primary " style="font-weight: bold;">{{ entries.time|date:"Y-m-d" }}</span>
                            <span class="tm-text-primary " style="font-weight: bold; visibility: hidden;">{{ entries.jmlBaris }} Baris</span>
                            <span class="tm-text-primary " style="font-weight: bold;">{{ entries.user }}</span>
                        </div>
                    </div>
                {% endfor %}       
            </div>
        {% else %}
            <h3 style="color: #002BA3; margin-top: 50px;"class="font-weight-bold ml-md-0 mx-auto text-center">Motif tidak ditemukan</h3>
            <div style="display:flex; justify-content: center; align-items: center;">
                <img src="{% static 'img/icon/icons8-no-image.png'%}">
            </div>
    
        {% endif %}
    
    {% else %}
        <div class="row d-flex justify-content-center">
            
            <div class="d-flex justify-content-center bd-highlight mb-3 example-parent" style="padding-top: 10%;">
                <div class="col-md-10 col"><h3 class="font-weight-bold ml-md-0 mx-auto text-center"> Akun Belum Diverifikasi oleh Admin </h3>
                    <p class="mt-md-4  ml-md-0 ml-2 text-center"> Silahkan menghubungi admin terkait untuk dapat menggunakan fitur generate motif</p>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
    

    {% include "footer.html" %}

    
<script src="{% static 'plugins.js'%}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>